@inherits LayoutComponentBase
@using System.Runtime.InteropServices

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://chandradev819.in/" target="My Blog">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

    <footer class="footer">
        <p>This app is running on @RuntimeInformation.FrameworkDescription</p>
    </footer>
</div>

<style>
    .footer {
        text-align: center;
        padding: 5px;
        background-color: silver;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>
