@page "/"
@using Microsoft.AspNetCore.Components.QuickGrid
<PageTitle>Home</PageTitle>
<h1>Welcome to Blazor WebAssembly 10.</h1>
<p>RowClass in QuickGrid. we can dirrectly apply css using RowClass in quickgrid </p>
<hr>
<QuickGrid Items="@people.AsQueryable()" RowClass="GetRowCssClass">
    <PropertyColumn Property="@(p => p.PersonId)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
    <PropertyColumn Property="@(p => p.PromotionDate)" Format="yyyy-MM-dd" Sortable="true" />
</QuickGrid>

@code {
    public class Person
    {
        public int PersonId { get; set; }
        public string Name { get; set; }
        public DateOnly PromotionDate { get; set; }

        public Person(int personId, string name, DateOnly promotionDate)
        {
            PersonId = personId;
            Name = name;
            PromotionDate = promotionDate;
        }
    }


    private List<Person> people = new()
{
new Person(10895, "Chandradev", new DateOnly(1985, 3, 16)),
new Person(10944, "António Langa", new DateOnly(1991, 12, 1)),
new Person(11203, "Julie Smith", new DateOnly(1958, 10, 10)),
new Person(11205, "Nur Sari", new DateOnly(1922, 4, 27)),
new Person(11898, "Jose Hernandez", new DateOnly(2011, 5, 3)),
new Person(12130, "Kenji Sato", new DateOnly(2004, 1, 9))
};

    private string GetRowCssClass(Person person)
    {
        return person.Name == "Chandradev" ? "green" : "silver";
    }
}

<style>
    .green {
        background-color: green !important;
        font-weight: bold;
    }

    .silver {
        background-color: silver !important;
    }
</style>